*._*
*.aux
.bazel
bazel-*
*.bbl
*.blg
*.brf
.coverage
.DS_Store
*.egg-info
_ext
*.gz
.idea
.ijwb
*ipynb_*
.isort.cfg
*.jpg
*.log
*.o
*.out
*.pdf
*.png
.project
*.pth.tar
*.pyc
**/__pycache__/
.pydevproject
*.so
.vscode/*
*.swp
.tox/*
.pytest_cache/*
docs/_build/
docs/generated/
