<!DOCTYPE html>
<html lang="en">
  <div class="tab-content" id="overview" style="display:block">
      <table class="overview-table-section" id="overview-table-section">
          <tr>
              <th class="section-table-title"> Metric Aggregator</th>
          </tr>
          <tr class="planner-search-row">
              <td>{{ embed(roots.overview_planner_checkbox_group) }}</td>
          </tr>
          <tr class="overview-table-row">
              <td>
                  {{ embed(roots.overview_table) }}
              </td>
          </tr>
      </table>
  </div>
</html>
