<!DOCTYPE html>
<html lang="en">
  <div class="tab-content external-height" id="scenario">
    <div class="scenario-search-section">
        <div class="scenario-search-grid-item-text">
          <b> Scenario Type: </b>
        </div>
        <div class="scenario-search-grid-item-widget margin-left-5">
          {{ embed(roots.scenario_scalar_scenario_type_select) }}
        </div>
        <div class="scenario-search-grid-item-text margin-left-5">
          <b> Log: </b>
        </div>
        <div class="scenario-search-grid-item-widget">
          {{ embed(roots.scenario_scalar_log_name_select) }}
        </div>
    </div>
      <div class="scenario-search-section">
        <div class="scenario-search-grid-item-text">
          <b> Scenario Name: </b>
        </div>
        <div class="scenario-search-grid-item-widget">
         {{ embed(roots.scenario_scalar_scenario_name_select) }}
        </div>
    </div>
    <div class="loading loading-lg" id="scenario-loading"></div>
    <div class="scenario-plot-section" id="scenario-plot-section">
          <div class="row">
              <div class="column section-table-title"> Simulation </div>
          </div>
          <div class="planner-search-row">
              <div class="column">{{ embed(roots.scenario_planner_checkbox_group) }}</div>
          </div>
          <div class="scenario-table-simulation-row">
              {{ embed(roots.simulation_tile_layout) }}
          </div>
          <div class="row" title="Click to expand/collapse" style="cursor: pointer;" onclick="toggleTimeSeriesMetrics()">
              Time Series Metrics
              <svg class="scenario-table-time-series-row-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <a href="#">
                      <path id="scenario-table-time-series-svg-path" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">

                      </path>
                  </a>
              </svg>
          </div>
          <div class="scenario-table-time-series-row">
              {{ embed(roots.time_series_layout) }}
          </div>
          <div class="row" title="Click to expand/collapse" style="cursor: pointer;" onclick="toggleScenarioScore()">
              Scenario Scores
              <svg class="scenario-table-scenario-score-row-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <a href="#">
                      <path id="scenario-table-scenario-score-svg-path" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">

                      </path>
                  </a>
              </svg>
          </div>
          <div class="scenario-table-scenario-score-row">
              {{ embed(roots.scenario_score_layout) }}
          </div>
      </div>
  </div>
</html>
